:root {
  --main-text-color: rgb(143, 238, 255);
  --main-bg-color: rgb(5, 23, 33);
}

html,
body,
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Monda', sans-serif;
  background: var(--main-bg-color);

}